@font-face {
  font-family: 'Roboto';
  src: url(lib/Roboto/Roboto-Black.ttf);
}

body {
  background: rgba(0, 0, 0, 0.6);
  width: 300px;
  height: 40px;
  margin: 0 0;
  font-family: 'Roboto', serif;
  color: whitesmoke;
}

ul {
  width:300px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

::-webkit-input-placeholder {
  color:white;
}


li {
  height: 40px;
  line-height: 40px;
  text-indent: 10px;
}

li:nth-child(2n){
  background: rgba(0, 0, 0, 0.4);
}

input {
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  background: transparent;
  border: none;
  font-family: 'Roboto', serif;
  color: whitesmoke;
}

input:focus {
  outline:none;
}

::-webkit-input-placeholder {
  text-align: center;
}

/* .circle {
  height: 50px;
  width: 50px;
  border: 3px solid grey;
  background: transparent;
  transition: box-shadow .5s, color .5s;
  background-size: 0 0;
  background-position: 50% 50%;
  border-radius: 30px;
  box-shadow: inset 0 0 0 50px white
}

.circle:hover {
  box-shadow: inset 0 0 0 0px white;
  color: azure;
} */
.completed {
  text-decoration: line-through;
}
